<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
   <!--v= tuleb iga kord updateda kui on muutused style.css--> <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}?v=10">
  </head>
  <body>
    <header>
      <nav>
        <div class="sidebar">
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'realica' %}" class="realica-link">Realica</a>
              <ul class="realica-dropdown">
                <li><a href="{% url 'realica' %}">Sissejuhatus</a></li>
                <li><a href="https://www.ekool.eu/#/">Ekool</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        $('.realica-link').click(function(e) {
          e.preventDefault();
          $(this).siblings('.realica-dropdown').toggle();
        });
      });
    </script>
  </body>
</html>
