<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <base href="{{BASE_DIR}}">  
    <meta charset="UTF-8">
    <title>{% block title %}Somelugu{% endblock %}</title>
   <!--v= tuleb iga kord updateda kui on muutused style.css--> <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}?v=13">
  </head>
  <body>
    <header>
      <nav>
        <div class="sidebar">
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'vaatamine' tekst_id=1 %}" class="realica-link">Realica</a>
              <ul class="realica-dropdown">

                <li><a href="{% url 'vaatamine' tekst_id=1 %}">Reaali Poiss</a></li>
                <li><a href="{% url 'vaatamine' tekst_id=3 %}">Sissejuhatus Reaalkooli ajalukku</a></li>
                <li><a href="{% url 'vaatamine' tekst_id=4 %}">Tallinna Reaalkooli tähtsus Eesti Vabariigi rajamisel</a></li>
                <li><a href="{% url 'vaatamine' tekst_id=5 %}">Reaalkooli sümbolid</a></li>
                <li><a href="{% url 'vaatamine' tekst_id=6 %}">Reaalkooli legendaarsed õpetajad</a></li>
                <li><a href="{% url 'vaatamine' tekst_id=7 %}">Reaalkooli direktorid</a></li>
                <li><a href="{% url 'vaatamine' tekst_id=8 %}">Reaalkool teises ilmasõjas</a></li>

              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="content">

      {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        $('.realica-link').click(function(e) {
          e.preventDefault();
          $(this).siblings('.realica-dropdown').toggle();
        });
      });
    </script>
  </body>
</html>
